
img {
    height: 100px;
    width: 200px;
}

span.poi_name {
    margin-right: 140px;
    font-size: 150%;
}

span.poi_category {
    font-size: 150%;
}

span.poi_category_value {
    margin-right: 40px;
    font-size: 150%;
}

.titles {
    font-weight: bold;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    height: 8%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 20%;
    height: 8%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  .favorite_icon {
    height: 8%;
    width: 4%;
  }
