<div class="col-md-6 col-md-offset-3" ng-controller="registerController as registerCtrl">
        <h2>Register</h2>
        <form name="form" ng-submit="submit()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                <label for="username">First name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" ng-model="firstname" required ng-pattern="/^[a-zA-Z]*$/"/>
                <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                <span ng-show="form.firstName.$dirty && form.firstName.$error.pattern" class="help-block">Only letters are allowed</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                <label for="username">Last name</label>
                <input type="text" name="lastName" id="Text1" class="form-control" ng-model="lastname" required ng-pattern="/^[a-zA-Z]*$/"/>
                <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                <span ng-show="form.firstName.$dirty && form.lastName.$error.pattern" class="help-block">Only letters are allowed</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="username" required ng-minlength="3" ng-maxlength="8" ng-pattern="/^[a-zA-Z]*$/"/>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                <span ng-show="form.username.$dirty && form.username.$error.minlength" class="help-block">Minimum length is 3.</span>
                <span ng-show="form.username.$dirty && form.username.$error.maxlength" class="help-block">Maximum length is 8.</span>
                <span ng-show="form.username.$dirty && form.username.$error.pattern" class="help-block">Only letters</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="password" required ng-minlength="5" ng-maxlength="10" ng-pattern="/^[a-zA-Z0-9]*$/"/>
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                <span ng-show="form.password.$dirty && form.password.$error.minlength" class="help-block">Minimum length is 5.</span>
                <span ng-show="form.password.$dirty && form.password.$error.maxlength" class="help-block">Maximum length is 10.</span>
                <span ng-show="form.password.$dirty && form.password.$error.pattern" class="help-block">Only letters and numbers. </span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.city.$dirty && form.city.$error.required }">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" class="form-control" ng-model="city" required ng-pattern="/^[a-zA-Z\s]*$/"/>
                    <span ng-show="form.city.$dirty && form.city.$error.required" class="help-block">City is required</span>
                    <span ng-show="form.city.$dirty && form.city.$error.pattern" class="help-block">Only letters are allowed</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.country.$dirty && form.country.$error.required }">
                <label for="country">Country</label>
                <select name="country" id="country" class="form-control" ng-model="country" ng-options="c for c in countriesList" required>
                    <option value="">-- Select a Country --</option>
                </select>
                <span ng-show="form.country.$dirty && form.country.$error.required" class="help-block">Country is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                    <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Invalid email</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.category.$dirty && form.category.$error.required }">
                <label for="category"> Category interest: </label><br>
                <select name="category" id="category" ng-model="categories" multiple required ng-min="2">
                    <option value="shopping">Shopping</option>
                    <option value="museum">Museum</option>
                    <option value="resturant">Resturant</option>
                    <option value="attraction">Attraction</option>
                </select>
                <span ng-show="form.category.$dirty && form.category.$error.required" class="help-block">Categories are required</span>
                <span ng-show="form.category.$dirty && form.category.$error.ng-min" class="help-block">You must choose at least 2 categories.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.question1.$dirty && form.question1.$error.required }">
                <label for="question1">First question to restore password</label>
                <select name="question1" id="question1" class="form-control" ng-model="question1" required>
                    <option value="">-- Select a Question --</option>
                    <option value="dogName">What is your dog name</option>
                    <option value="nickname">What is your nickname</option>
                    <option value="hobby">What is your hobby</option>
                    <option value="hospital">what is the name of the hospital where you were born</option>
                </select>
                <span ng-show="form.question1.$dirty && form.question1.$error.required" class="help-block">Question is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.answer1.$dirty && form.answer1.$error.required }">
                <label for="answer1">First answer</label>
                <input type="text" name="answer1" id="answer1" class="form-control" ng-model="answer1" required/>
                <span ng-show="form.answer1.$dirty && form.answer1.$error.required" class="help-block">Answer is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.question2.$dirty && form.question2.$error.required }">
                <label for="question2">Second question to restore password</label>
                <select name="question2" id="question2" class="form-control" ng-model="question2" required>
                    <option value="">-- Select a Question --</option>
                    <option value="what is your dog name">What is your dog name</option>
                    <option value="what is your nickname">What is your nickname</option>
                    <option value="what is your hobby">What is your hobby</option>
                    <option value="what is the name of the hospital where you were born">What is the name of the hospital where you were born</option>
                </select>
                <span ng-show="form.question2.$dirty && form.question2.$error.required" class="help-block">Question is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.answer2.$dirty && form.answer2.$error.required }">
                <label for="answer2">Second answer</label>
                <input type="text" name="answer2" id="answer2" class="form-control" ng-model="answer2" required/>
                <span ng-show="form.answer2.$dirty && form.answer2.$error.required" class="help-block">Answer is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a href="#!/login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
    