<div class="col-md-10 col-md-offset-1 row-md-offset-3"  ng-controller="poiController as poiCtrl">
    <form>
        <div class="form-actions">
            <input ng-model="search_input" type="text" placeholder="Search POI.." name="search" ng-change="detectEmpty()">
            <button class="btn btn-primary btn-sm" type="button" ng-click="submit()"><i class="fa fa-search fa-fw"></i> Search</button>            
            <select class="browser-default custom-select" name="category" id="category" ng-model="category" ng-change="filter()">
                <option value="">-- No Filter --</option>
                <option value="shopping">Shopping</option>
                <option value="museum">Museum</option>
                <option value="resturant">Restaurant</option>
                <option value="attraction">Attraction</option>
            </select>
            <button type="button" ng-click="sortByRating()" class="btn btn-primary btn-sm">Sort by ranking</button>
            <button type="button" ng-show="role=='loggedIn'" ng-click="saveFavoritePOI()" class="btn btn-primary btn-sm"><i>Save favorite POI</i></button>
            <a href="#!/favoritepoi" ng-show="role=='loggedIn'"><img class="favorite_icon" src="pages/poi/favorite.png"></a>
            <span ng-show="role=='loggedIn'" ng-model="favoriteListSize">({{ favoriteListSize }})</span>
        </div>
    </form>
    <div ng-show="poi_page=='search'">
        <div class="card" ng-repeat="POI in searchPOI" style="width: 22%;">
            <img class="card-img-top" ng-src="{{ POI.pic }}" ng-click="open(POI.id)" style="width:100%">
            <div class="card-body" style="text-align: center;">
                <p class="card-title">{{ POI.name }}</p>
            </div>
        </div>
        <span ng-repeat="POI in searchPOI">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 110px"/>
            </label>
        </span>
    </div>
    <div class="row" ng-show="poi_page=='poi by category'">
        <h2>{{ category }}</h2>
        <div class="col-sm-4" class="card" ng-repeat="POI in POI_by_category" style="width: 20%;">
            <img class="card-img-top" ng-src="{{ POI.pic }}" ng-click="open(POI.id)" style="width:100%">
            <div class="card-body" style="text-align: center;">
                <p class="card-title">{{ POI.name }}</p>
            </div>
        </div>
        <span ng-repeat="POI in POI_by_category">
            <button style="margin-left: 15px;" type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 25px"/>
            </label>
        </span>
    </div>
    <div ng-show="poi_page=='poi sorted by rank'">
        <span ng-repeat="POI in sorted_POI | orderBy:'-rank'">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span><br>
            <span>Rank:</span><span class="poi_rank" ng-click="open(POI.id)"> {{ POI.rank }} </span><br>
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)"/>
            </label><br>
        </span>
    </div> 
</div>
<div class="col-md-10 col-md-offset-1"  ng-controller="poiController as poiCtrl" ng-show="poi_page=='poi by categories'">
    <h2>POI</h2>
    <h3>POI By Category:</h3>
    <div class="row">
        <h4>Attraction</h4>
        <div class="col-sm-4" class="card" ng-repeat="POI in attractionPOI" style="width: 20%;">
            <img class="card-img-top" ng-src="{{ POI.pic }}" ng-click="open(POI.id)" style="width:100%">
            <div class="card-body" style="text-align: center;">
                <p class="card-title">{{ POI.name }}</p>
            </div>
        </div>
            <span ng-repeat="POI in attractionPOI">
                <button style="margin-left: 15px;" type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>review</i></button>
                <label ng-show="role=='loggedIn'">Favorite
                    <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 25px;"/>
                </label>
            </span>
        </div><br>  
    <div class="row">
        <h4>Museum</h4>
        <div class="col-sm-4" class="card" ng-repeat="POI in museumPOI" style="width: 20%;">
            <img class="card-img-top" ng-src="{{ POI.pic }}" ng-click="open(POI.id)" style="width:100%">
            <span class="card-body" style="text-align: center;">
                <p class="card-title">{{ POI.name }}</p>
            </span>
        </div>
        <span ng-repeat="POI in museumPOI">
            <button style="margin-left: 15px;" type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 25px"/>
            </label>
        </span>
    </div><br>
    <div class="row">
        <h4>Restaurant</h4>
        <div class="col-sm-4" class="card" ng-repeat="POI in resturantPOI" style="width: 20%;">
            <img class="card-img-top" ng-src="{{ POI.pic }}" ng-click="open(POI.id)" style="width:100%">
            <span class="card-body" style="text-align: center;">
                <p class="card-title">{{ POI.name }}</p>
            </span>
        </div>
        <span ng-repeat="POI in resturantPOI">
            <button style="margin-left: 15px;" type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 25px"/>
            </label>
        </span>
    </div><br>
    <div class="row">
        <h4>Shopping</h4>
        <div class="col-sm-4" class="card" ng-repeat="POI in shoppingPOI" style="width: 20%;">
            <img class="card-img-top" ng-src="{{ POI.pic }}" ng-click="open(POI.id)" style="width:100%">
            <span class="card-body" style="text-align: center;">
                <p class="card-title">{{ POI.name }}</p>
            </span>
        </div>
        <span ng-repeat="POI in shoppingPOI">
            <button style="margin-left: 15px;" type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 25px"/>
            </label>
        </span>
    </div>
</div>
