<div class="col-md-12 col-md-offset-3" ng-controller="poiController as poiCtrl">
    <form>
        <div class="form-actions">
            <input ng-model="search_input" type="text" placeholder="Search POI.." name="search" ng-change="detectEmpty()">
            <button class="btn btn-primary btn-sm" type="button" ng-click="submit()"><i class="fa fa-search fa-fw"></i> Search</button>            
            <select class="browser-default custom-select" name="category" id="category" ng-model="category" ng-change="filter()">
                <option value="">-- No Filter --</option>
                <option value="shopping">Shopping</option>
                <option value="museum">Museum</option>
                <option value="resturant">Resturant</option>
                <option value="attraction">Attraction</option>
            </select>
            <button type="button" ng-click="sortByRating()" class="btn btn-primary btn-sm">Sort by ranking</button>
            <button type="button" ng-show="role=='loggedIn'" ng-click="saveFavoritePOI()" class="btn btn-primary btn-sm"><i>Save favorite POI</i></button>
            <a href="#!/favoritepoi" ng-show="role=='loggedIn'"><img class="favorite_icon" src="pages/poi/favorite.png"></a>
            <span ng-show="role=='loggedIn'" ng-model="favoriteListSize">({{ favoriteListSize }})</span>
        </div>
    </form>
    <div ng-show="poi_page=='search'">
        <span ng-repeat="POI in searchPOI">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span>
        </span><br>
        <span ng-repeat="POI in searchPOI">
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
        </span><br>
        <span ng-repeat="POI in searchPOI">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Add review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 110px"/>
            </label>
        </span>
    </div>
    <div ng-show="poi_page=='poi by category'">
        <h2>{{ category }}</h2>
        <span ng-repeat="POI in POI_by_category">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span>
        </span><br>
        <span ng-repeat="POI in POI_by_category">
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
        </span><br>
        <span ng-repeat="POI in POI_by_category">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Add review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 110px"/>
            </label>
        </span>
    </div>
    <div ng-show="poi_page=='poi sorted by rank'">
        <span ng-repeat="POI in sorted_POI | orderBy:'-rank'">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span><br>
            <span>Rank:</span><span class="poi_rank" ng-click="open(POI.id)"> {{ POI.rank }} </span><br>
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Add review</i></button><br>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)"/>
            </label>
        </span>
    </div> 
</div>
<div class="col-md-8 col-md-offset-3" ng-controller="poiController as poiCtrl" ng-show="poi_page=='poi by categories'">
    <h2>POI</h2>
    <h3>POI By Category:</h3>
    <div>
    <h4>Attraction</h4>
        <span ng-repeat="POI in attractionPOI">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span>
        </span><br>
        <span ng-repeat="POI in attractionPOI">
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
        </span><br>
        <span ng-repeat="POI in attractionPOI">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Add review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 110px"/>
            </label>
        </span>
    </div>  
    <div>
        <h4>Museum</h4>
        <span ng-repeat="POI in museumPOI">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span>
        </span><br>
        <span ng-repeat="POI in museumPOI">
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
        </span><br>
        <span ng-repeat="POI in museumPOI">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Add review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 110px"/>
            </label>
        </span>
    </div>
    <div>
        <h4>Resturant</h4>
        <span ng-repeat="POI in resturantPOI">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span>
        </span><br>
        <span ng-repeat="POI in resturantPOI">
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
        </span><br>
        <span ng-repeat="POI in resturantPOI">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Add review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 110px"/>
            </label>
        </span>
    </div>
    <div>
        <h4>Shopping</h4>
        <span ng-repeat="POI in shoppingPOI">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span>
        </span><br>
        <span ng-repeat="POI in shoppingPOI">
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
        </span><br>
        <span ng-repeat="POI in shoppingPOI">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Add review</i></button>
            <label ng-show="role=='loggedIn'">Favorite
                <input type="checkbox" ng-show="role=='loggedIn'" ng-model="POI.favorite" ng-change="change(POI)" style="margin-right: 110px"/>
            </label>
        </span>
    </div>
</div>
