<div class="col-md-10 col-md-offset-5" ng-controller="favoritepoiController as favoritepoiCtrl">
    <form>
        <div class="form-actions">
            <select name="category" id="category" ng-model="category" ng-change="filter()">
                <option value="nofilter">-- No Filter --</option>
                <option value="shopping">Shopping</option>
                <option value="museum">Museum</option>
                <option value="restaurant">Restaurant</option>
                <option value="attraction">Attraction</option>
            </select>
            <button type="button" ng-click="sortByRating()" class="btn btn-primary"><i>Sort by ranking</i></button>
        </div>
    </form>
    <div ng-show="favorite_poi_page=='favorite poi by category'">
        <h2 style="text-align: left">{{ category }}</h2>
    </div>
    <div ng-show="favorite_poi_page=='favorite poi by category'">
        <span ng-repeat="POI in POI_by_category">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span>
        </span><br>
        <span ng-repeat="POI in POI_by_category">
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
        </span><br>
        <span ng-repeat="POI in POI_by_category">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Review</i></button>
            <button type="button" ng-show="role=='loggedIn'" ng-click="removePoi(POI.id)" class="btn btn-primary" style="margin-right: 22px"><i>Remove</i></button>

        </span>
    </div>
    <div ng-show="favorite_poi_page=='favorite poi sorted by rank'">
        <span ng-repeat="POI in favoritePOI | orderBy:'-rank'">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span><br>
            <span>Rank:</span><span class="poi_rank" ng-click="open(POI.id)"> {{ POI.rank }} </span><br>
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Review</i></button>
            <button type="button" ng-show="role=='loggedIn'" ng-click="removePoi(POI.id)" class="btn btn-primary"><i>Remove</i></button><br>

        </span>
    </div> 
</div>
<div ng-controller="favoritepoiController as favoritepoiCtrl" ng-show="favorite_poi_page=='favorite poi'">
    <h2>Favorite POI</h2>
</div>
<div class="col-md-10 col-md-offset-5" ng-controller="favoritepoiController as favoritepoiCtrl" ng-show="favorite_poi_page=='favorite poi'">
    <div>
        <span ng-repeat="POI in favoritePOI | orderBy:'order_index'">
            <span class="poi_name" ng-click="open(POI.id)"> {{ POI.name }} </span><br>
            <img ng-src="{{ POI.pic }}" ng-click="open(POI.id)">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up" ng-click="up(POI.order_index)"></span></button><br>
            <button type="button" ng-show="role=='loggedIn'" ng-click="addReview(POI.id)" class="btn btn-primary"><i>Review</i></button>
            <button type="button" ng-show="role=='loggedIn'" ng-click="removePoi(POI.id)" class="btn btn-primary"><i>Remove</i></button><br>
        </span><br>
    </div>  
</div>
